body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.card {
  background: #f3f3f3;
  background-color: #ADD8E6;
  padding: 50px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.card img {
  height: 300px;
  width: auto;
  display: block;
  margin: 0 auto;
}

button:hover {
  size: 10in;
  width: auto;
  background-color: rgb(255, 0, 174);
  color: rgb(255, 255, 255);
}
